.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  .modal-overlay {
    background-color: white;
    padding: 10px;
  }
}
.open {
  display: flex;
}

h1 {
  color: aliceblue;
}
